/* CSS for Header and Footer */
.header {
    background-color:aqua;
    color:black;
    padding:5px;
}
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}



.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:150px;
    width:100px;
    float:left;
    padding:5px; 
}
.section {
    width:350px;
    float:left;
    padding:10px; 
}

.right {
    text-align:right;
}
.left{
    text-align:left;
}

.feedsText{
    text-align:center;  
    width:500px;
    height:22px;
    background-color:white;
    float:center;    
}

.feeds{
    text-align:center;  
    width:900px;
    height:400px;
    background-color:grey;
    float:center;    
}
.feedList{
    text-align:center;  
    width:900px;
    height:60px;
    background-color:grey;
    float:left;     
}